
.item{

    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;  /* esconde o scrol(rolagem na tela)*/
    background-color: var(--background);
}

.item.active {

    display: block;

}

  